<%= render "shared/second-header" %>
<div class="order_completed">
  <h2 class="completed_sentence">注文が完了しました</h2>
  <div class="sell-btn-contents completed">
    <%= link_to 'トップページへ戻る', root_path, class:"back-btn" %>
  </div>
</div>
<%= render "shared/second-footer" %>