<%= render "shared/corporate-header" %>
<div class="corporate-index">
  <div class="n-name">
    店舗名
  </div>
  <div class="n-postcode">
    郵便番号
  </div>
  <div class="n-address">
    住所
  </div>
  <div class="n-phone">
    電話番号
  </div>
  <div class="n-email">
     メールアドレス
  </div>
</div>
<%= render "shared/corporate-footer" %>