.quantity-contents {
  display: flex;
  align-items: center;
}

.quantity-name {
  font-size: 18px;
  padding-right: 20px;
}

.quantity {
  width: 30px;
  margin-right: 10px;
}

.btn.btn-info {
  margin-right: 10px;
}

.flash {
  display: flex;
  justify-content: center;
}

.flash-message {
  text-align: center;
  font-size: 18px;
}