.quantity-contents {
  display: flex;
  align-items: center;
}

.quantity-name {
  font-size: 18px;
  padding-right: 20px;
}

.quantity {
  width: 30px;
  margin-right: 10px;
}

.btn.btn-info {
  margin-right: 10px;
}

.flash {
  display: flex;
  justify-content: center;
}

.flash-message {
  text-align: center;
  font-size: 18px;
}

.buy-item-info.cart {
  height: 200px;
}

.buy-item-right-content.cart {
  padding-top: 30px;
}

.item-price-text.cart {
  font-size: 18px;
}

.cart-btn.cart {
  display: flex;
  align-items: center;
}

.cart-quantity {
  padding-right: 10px;
}

.quantity.show {
  height: 50px;
  width: 40px;
  font-size: 20px;
  text-align: center;
}

.cart-form {
  display: flex;
  align-items: center;
}

.item-red-btn.cart {
  margin-bottom: 0;
}

.item-buy-btn {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  text-decoration: none;
  padding: 20px 40px;
  margin-bottom: 4vh;
  width: 200px;
}