<%= render "shared/header" %>
<div class="show-main">
  <div class="show-left">
    <div class='show-img-content'>
      <%# 商品画像 %>
      <%= image_tag "sample.jpg", class: "show-item-img" %>
      <%# /商品画像 %>
    </div>
  </div>
  <div class="show-right">
  </div>
</div>
<%= render "shared/footer" %>